.App {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    background-color: #f5f5f5;
}

h1 {
    color: black;
}

body {
    margin: 0;
}